/* .image0 {
  height: 100vh;
}
*/
.image1 {
  height: 100vh;
}

.image2 {
  height: 100vh;
} 

@media screen and (max-height: 720px) {
  .image0 {
    height: 40vh;
  }

  .image1 {
    height: 40vh;
  }

  .image2 {
    height: 40vh;
  }
}
