.first-p,
.second-p {
  background-color: #f8f8f8;
  padding: 5%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.sub-image {
  width: 15vw;
}

@media screen and (max-width: 720px) {
  .sub-image {
    width: 10vw;
  }
}
