.form-control {
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  
  
  .login-button {
    width: 20%;
    color: white;
    background-color: #56b94c;
    border-color: #56b94c;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .login-button:hover {
    background-color: #44913b !important;
    border-color: #44913b !important;
  }
  
  .form-text {
    font-size: 75%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  