.headerContainer {
  position: relative;
}

.headerImage {
  width: 100vw;
}

.headerText {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #464646;
  font-size: 96px;
}

.headerSVG {
  margin-top: 5px;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 720px) {
  .headerImage {
    height: 30vh;
  }

  .headerText {
    font-size: 60px;
  }

  .headerSVG {
    top: 75%;
    width: 50%;
  }
}
